# yaml-language-server: $schema=https://carapace.sh/schemas/command.json
name: deployment-manager
description: Manage deployments of cloud resources.
commands:
    - name: operations
      description: Commands for Deployment Manager operations.
      commands:
        - name: describe
          description: Provide information about an operation.
        - name: list
          description: List operations in a project.
          flags:
            --filter=: Apply a Boolean filter _EXPRESSION_ to each resource item to be listed.
            --limit=: Maximum number of resources to list.
            --no-uri&: Print a list of resource URIs instead of the default output, and change the
            --page-size=: Some services group resource list output into pages.
            --simple-list: Changes the --format flag to print the resource IDs.
            --sort-by=: Comma-separated list of resource field key names to sort by.
            --uri: Print a list of resource URIs instead of the default output, and change the
        - name: wait
          description: Wait for all operations specified to complete before returning.
    - name: resources
      description: Commands for Deployment Manager resources.
      flags:
        --deployment=: Deployment name
      commands:
        - name: describe
          description: Provide information about a resource.
          flags:
            --deployment=: Deployment name
        - name: list
          description: List resources in a deployment.
          flags:
            --deployment=: Deployment name
            --filter=: Apply a Boolean filter _EXPRESSION_ to each resource item to be listed.
            --limit=: Maximum number of resources to list.
            --no-uri&: Print a list of resource URIs instead of the default output, and change the
            --page-size=: Some services group resource list output into pages.
            --simple-list: Changes the --format flag to print the resource IDs.
            --sort-by=: Comma-separated list of resource field key names to sort by.
            --uri: Print a list of resource URIs instead of the default output, and change the
    - name: types
      description: Commands for Deployment Manager types.
      commands:
        - name: list
          description: List types in a project.
          flags:
            --filter=: Apply a Boolean filter _EXPRESSION_ to each resource item to be listed.
            --limit=: Maximum number of resources to list.
            --page-size=: Some services group resource list output into pages.
    - name: deployments
      description: Commands for Deployment Manager deployments.
      commands:
        - name: list
          description: List deployments in a project.
          flags:
            --filter=: Apply a Boolean filter _EXPRESSION_ to each resource item to be listed.
            --limit=: Maximum number of resources to list.
            --no-uri&: Print a list of resource URIs instead of the default output, and change the
            --page-size=: Some services group resource list output into pages.
            --simple-list: Changes the --format flag to print the resource IDs.
            --sort-by=: Comma-separated list of resource field key names to sort by.
            --uri: Print a list of resource URIs instead of the default output, and change the
        - name: stop
          description: Stop a pending or running deployment update or creation.
          flags:
            --async: Return immediately, without waiting for the operation in progress to
            --fingerprint=: The fingerprint to use in requests to modify a deployment.
            --no-async&: Return immediately, without waiting for the operation in progress to
        - name: update
          description: Update a deployment based on a provided config file.
          flags:
            --async: Return immediately, without waiting for the operation in progress to
            --composite-type=: Name of a composite type to deploy.
            --config=: Filename of a top-level yaml config that specifies resources to deploy.
            --create-policy=: Create policy for resources that have changed in the update.
            --delete-policy=: Delete policy for resources that will change as part of an update or delete.
            --description=: The new description of the deployment.
            --fingerprint=: The fingerprint to use in requests to modify a deployment.
            --no-async&: Return immediately, without waiting for the operation in progress to
            --no-preview&: Preview the requested update without making any changes to the underlying resources.
            --preview: Preview the requested update without making any changes to the underlying resources.
            --properties=: A comma separated, key:value, map to be used when deploying a template file or composite type directly.
            --remove-labels=: List of label keys to remove.
            --template=: Filename of a top-level jinja or python config template.
            --update-labels=: List of label KEY=VALUE pairs to update.
          completion:
            flag:
                create-policy:
                    - acquire
                    - create-or-acquire
                delete-policy:
                    - abandon
                    - delete
        - name: cancel-preview
          description: Cancel a pending or running deployment preview.
          flags:
            --async: Return immediately, without waiting for the operation in progress to
            --fingerprint=: The fingerprint to use in requests to modify a deployment.
            --no-async&: Return immediately, without waiting for the operation in progress to
        - name: create
          description: Create a deployment.
          flags:
            --async: Return immediately, without waiting for the operation in progress to
            --automatic-rollback-on-error: If the create request results in a deployment with resource errors, delete that deployment immediately after creation.
            --composite-type=: Name of a composite type to deploy.
            --config=: Filename of a top-level yaml config that specifies resources to deploy.
            --description=: Optional description of the deployment to insert.
            --labels=: List of label KEY=VALUE pairs to add.
            --no-async&: Return immediately, without waiting for the operation in progress to
            --no-automatic-rollback-on-error&: If the create request results in a deployment with resource errors, delete that deployment immediately after creation.
            --no-preview&: Preview the requested create without actually instantiating the underlying resources.
            --preview: Preview the requested create without actually instantiating the underlying resources.
            --properties=: A comma separated, key:value, map to be used when deploying a template file or composite type directly.
            --template=: Filename of a top-level jinja or python config template.
        - name: delete
          description: Delete a deployment.
          flags:
            --async: Return immediately, without waiting for the operation in progress to
            --delete-policy=: Delete policy for resources that will change as part of an update or delete.
            --no-async&: Return immediately, without waiting for the operation in progress to
          completion:
            flag:
                delete-policy:
                    - abandon
                    - delete
        - name: describe
          description: Provide information about a deployment.
    - name: manifests
      description: Commands for Deployment Manager manifests.
      commands:
        - name: describe
          description: Provide information about a manifest.
          flags:
            --deployment=!: Deployment name.
        - name: list
          description: List manifests in a deployment.
          flags:
            --deployment=!: Deployment name.
            --filter=: Apply a Boolean filter _EXPRESSION_ to each resource item to be listed.
            --limit=: Maximum number of resources to list.
            --no-uri&: Print a list of resource URIs instead of the default output, and change the
            --page-size=: Some services group resource list output into pages.
            --simple-list: Changes the --format flag to print the resource IDs.
            --sort-by=: Comma-separated list of resource field key names to sort by.
            --uri: Print a list of resource URIs instead of the default output, and change the
